body{
  background-image: url('/static/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
h1{
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  height: 280px;
  color: rgb(59, 58, 58);
}
.form{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: -80px;
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.label {
  width: 100px;
  font-family: Roboto;
  font-size: 20px;
  color: rgb(59, 58, 58);
  font-style: italic;
  text-align: right;
  margin-right: 15px;
}
input, select {
  height: 30px;
  width: 200px;
  background: transparent;
  border: 0.5px solid rgb(59, 58, 58);
  border-radius: 12.5px;
  transition: height 0.15s ease, width 0.15s ease;
}
input:focus, select:focus {
  height: 35px;
  width: 205px;
}
.pred{
  margin-left: 85px;
  margin-top: 20px;
  height: 40px;
  width: 200px; 
  background: transparent;
  color: rgb(59, 58, 58);
  border: 0.5px solid rgb(59, 58, 58);
  border-radius: 12.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: background 0.3s ease;
}
.pred:hover {
  background: rgba(59, 58, 58, 0.1); 
}
.output{
  display:flex;
  align-items: center;
  justify-content: center;
}
